rules_version = '2';
service cloud.firestore {
  function isAuthenticated(){
    return request.auth != null;
  }
  match /databases/{database}/documents {
    
    match /users/{userId} {
      match /userName {
        allow update: if false;
      }
    }
    
    match /{document=**} {
      allow read, write: if isAuthenticated();
    }
  }
}